.heading-primary {
	font-size: 3rem;
	font-family: open-sans-light;
	text-align: center;
}

.heading-secondary {
	font-size: 3rem;
	font-family: open-sans-light;
	text-align: center;
	font-weight: 200;
}
