<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Login | A2INFINITE</title>
		<!-- ------------------------------- css ------------------------------- -->
		<link rel="stylesheet" href="/static/css/login.css" />

		<!-- ------------------------------- favicon ------------------------------- -->

		<link rel="icon" href="../../static/Images/favicon.png" type="image/png" />

		<!-- ----------------------------- javascript ------------------------------ -->

		<!-- loader -->
		<script src="/static/js/loader.js" defer></script>
	</head>
	<body class="body">
		<div class="container">
			<!-- ------------------------------- header -------------------------------- -->
			{% include "header.html" %}

			<!-- ------------------------------- nav bar ------------------------------- -->
			{% include "navbar.html" %}
			<!-- -------------------------------- main --------------------------------- -->

			<h1 class="heading-primary">Activation Email Sent. Please Check you Email to activate your account!</h1>

			<!-- ------------------------------- footer -------------------------------- -->
			{% include "footer.html" %}
		</div>
		<!-- ------------------------------- loader -------------------------------- -->
		{% include "loader.html" %}
	</body>
</html>
