<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Sheets | A2INFINITE</title>

		<!-- --------------------------------- css --------------------------------- -->
		<link rel="stylesheet" href="/static/css/images_row.css" />

		<!-- ------------------------------- favicon ------------------------------- -->

		<link rel="icon" href="../../static/Images/favicon.png" type="image/png" />

		<!-- ----------------------------- javascript ------------------------------ -->

		<!-- loader -->
		<script src="/static/js/loader.js" defer></script>

		<!-- disable right click -->
		<script src="/static/js/disableRightClick.js" defer></script>

      <!-- overlay -->
      <script src="/static/js/overlay.js" defer></script>
	</head>
	<body class="body">
		<div class="container">
			<!-- ------------------------------- header -------------------------------- -->
			{% include "header.html" %}

			<!-- ------------------------------- nav bar ------------------------------- -->
			{% include "navbar.html" %}

			<main class="main">
				{% if not subscribed %}
				<h1 class="heading-primary">
					You are not Subscribed! Showing only Free Sheets.Please subscribe to
					view all sheets
				</h1>
				<!-- <h3>
					Showing {{countfree}} free sheet/sheets of {{totalcount}}. Please
					subscribe to view all sheets
				</h3> -->
				{% else %}
				<!-- <h3>You are Subscribed</h3>
				<h3>Showing total {{totalcount}} sheets</h3> -->
				{% endif %}
				<ul class="sheet-list">
					{% for image in explaindata %}
					<li class="sheet-list__item">
						<a
							href="{% url 'image' image.pk %}"
							class="sheet-list__link"
							target="_blank"
						>
							<img
								src="{{image.imgColor.url}}"
								alt="Sheet"
								class="sheet-list__sheet"
							/>
						</a>
					</li>
					{% endfor %}
				</ul>
			</main>

			<!-- ------------------------------- footer -------------------------------- -->
			{% include "footer.html" %}

			<!-- ------------------------------- overlay ------------------------------- -->
			<div class="overlay-container u-invisible">
				<div class="overlay">
					<h1 class="heading-primary overlay__heading">
						Showing free Sheets Please subscribe to view all sheets
					</h1>
					<span class="overlay__cross">&Cross;</span>
				</div>
			</div>
		</div>
		<!-- ------------------------------- loader -------------------------------- -->
		{% include "loader.html" %}
	</body>
</html>
