<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>A2INFINITE</title>

		<!-- ------------------------------- favicon ------------------------------- -->

		<link rel="icon" href="../../static/Images/favicon.png" type="image/png" />
		<!-- --------------------------------- Css --------------------------------- -->
		<link rel="stylesheet" href="/static/css/index.css" />

		<!-- ----------------------------- javascript ------------------------------ -->
		<!-- loader -->
		<script src="/static/js/loader.js" defer></script>
	</head>

	<body class="body">
		{% load bootstrap4 %}
		<div class="container">
			<!-- ------------------------------- header -------------------------------- -->
			{% if messages %} {% for message in messages %}
			<div class="alert alert-{{message}}">
				<strong>{{message}}</strong>
				<span class="alert__cross">&#10006;</span>
			</div>
			{% endfor %} {% endif %}
			<!-- ------------------------------- header -------------------------------- -->
			{% include "header.html" %}

			<div class="content">
				<!-- ------------------------------- sidebar ------------------------------- -->
				<nav class="sidebar">
					<ul class="side-nav u-margin-top-large">
						<li class="side-nav__item">
							<a href="/class" class="side-nav__link">Worksheets</a>
						</li>
						<li class="side-nav__item">
							<a href="#" class="side-nav__link">Quiz</a>
						</li>
						<li class="side-nav__item">
							<a href="/plans" class="side-nav__link">Plans</a>
						</li>
						<li class="side-nav__item">
							<a href="/contact" class="side-nav__link">Contact-us</a>
						</li>
					</ul>
					<div class="copyright">
						<h3>Copyright &copy; A2INFINITE 2021</h3>
					</div>
				</nav>

				<main class="main">
					<section class="welcome">
						<h1 class="welcome__heading heading-primary">
							Discover A Limitless World Of Learning
						</h1>
						<p class="welcome__para">
							Join now for more than 20,000 Practice Worksheets and Quiz
						</p>
						<a href="/signup" class="btn-primary welcome__btn"
							>Get Started &rarr;</a
						>
					</section>

					<hr class="hr u-margin-top-large" />

					<!-- ------------------------------- library ------------------------------- -->

					<section class="library">
						<h1 class="heading-secondary">Our Library</h1>

						<div class="library-container">
							<div class="library-container__box">
								<div class="library-container__box--icon-text">
									<img
										src="/static/Images/Icons/worksheet.png"
										alt="file icon"
										class="library-container__icon"
									/>
									<h3 class="heading-tertiary library-container__heading">
										Sheet
									</h3>
								</div>
								<div class="library-container__box--para-link">
									<p class="library-container__para">
										We’ve got a worksheet for every topic!
									</p>
									<a href="/class_worksheet" class="btn-tertiary"
										>Explore &rarr;</a
									>
								</div>
							</div>

							<div class="library-container__box">
								<div class="library-container__box--icon-text">
									<img
										src="/static/Images/Icons/quiz.png"
										alt="quiz icon"
										class="library-container__icon"
									/>
									<h3 class="heading-tertiary library-container__heading">
										Quiz
									</h3>
								</div>
								<div class="library-container__box--para-link">
									<p class="library-container__para">
										Check your child’s Prepration with our great quizes
									</p>
									<a href="#" class="btn-tertiary">Explore &rarr;</a>
								</div>
							</div>
						</div>
					</section>

					<hr class="hr u-margin-top-large" />

					<!-- ------------------------------ community ------------------------------ -->

					<section>
						<h2 class="heading-secondary">Join Our Community</h2>
						<div class="community">
							<div class="community__icon-heading u-margin-top-large-minus">
								<img
									src="/static/Images/Illustrations/Community-1.png "
									alt="Earth Image"
									class="community__image"
								/>
								<h3 class="heading-tertiary u-margin-top-large-minus">
									Used All Across World
								</h3>
							</div>

							<div class="community__icon-heading u-margin-top-large-minus">
								<img
									src="/static/Images/Illustrations/Community-2.png "
									alt="Elephant Image"
									class="community__image"
								/>
								<h3 class="heading-tertiary u-margin-top-large-minus">
									Library With 30,000 educational resources
								</h3>
							</div>

							<div class="community__icon-heading u-margin-top-large-minus">
								<img
									src="/static/Images/Illustrations/Community-3.png "
									alt="Building Image"
									class="community__image"
								/>
								<h3 class="heading-tertiary u-margin-top-large-minus">
									50,000 Parents, Students and Schools served
								</h3>
							</div>
						</div>
					</section>

					<hr class="hr" />

					<!-- ------------------------------- footer -------------------------------- -->
					<footer class="footer">
						<h1 class="heading-primary footer__heading">Ready To Join ?</h1>
						<a href="/signup" class="btn-primary footer__btn"
							>Get Started &rarr;</a
						>
					</footer>
				</main>
			</div>
		</div>
		<!-- ------------------------------- loader -------------------------------- -->
		{% include "loader.html" %}
	</body>
</html>
