{% load bootstrap4 %} {% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>A2INFINITE</title>
		{# Load CSS and JavaScript #} {% bootstrap_css %} {% bootstrap_javascript
		jquery='full' %}

		<!-- ------------------------------- favicon ------------------------------- -->

		<link rel="icon" href="../../static/Images/favicon.png" type="image/png" />
		<!-- --------------------------------- Css --------------------------------- -->
		<link rel="stylesheet" href="/static/css/index.css" />

		<!-- ----------------------------- javascript ------------------------------ -->
		{% if user.is_authenticated %}
		<!-- login form -->
		<script type="text/javascript" src="/static/js/logout.js" defer></script>
		{% else %}
		<!-- sign-up form -->
		<script
			type="text/javascript"
			src="/static/js/sign_in_sign_up.js"
			defer
		></script>
		<!-- popup -->
		<script src="/static/js/popup.js" defer></script>
		{% endif %}

		<!-- loader -->
		<script src="/static/js/loader.js" defer></script>
		<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
		<script src="{% static 'vendor/jquery_form/js/jquery_form.js' %}"></script>
	</head>

	<body class="body">
		{% load bootstrap4 %}
		<div class="container">
			<!-- ------------------------------- header -------------------------------- -->
			{% if messages %} {% for message in messages %}
			<div class="alert alert-{{message}}">
				<strong>{{message}}</strong>
				<span class="alert__cross">&#10006;</span>
			</div>
			{% endfor %} {% endif %}
			<header class="header u-border-bottom">
				<a href="/">
					<img
						src="/static/Images/logo/logo_transparent.png"
						alt="logo"
						class="logo"
					/>
				</a>

				<form method="POST" action="search" class="search">
					{% csrf_token %}
					<input
						type="text"
						placeholder="Search"
						class="search__input"
						name="search"
						id="search"
					/>
					<button class="search__button" type="submit">
						<svg class="search__icon">
							<use
								xlink:href="/static/Images/Icons/sprite.svg#icon-search"
							></use>
						</svg>
					</button>
				</form>

				<!-- <nav class="user-nav">
                <div class="user-nav__user">
                    <img src="../../Images/Ayush.jpg" alt="user photo" class="user-nav__user-photo" />
                    <span class="user-nav__user-name">Ayush</span>
                </div>
            </nav> -->
				<nav class="btn-nav">
					{% if user.is_authenticated %}
					<nav class="user-nav">
						<div class="user-nav__user">
							<span class="user-nav__user-name">{{request.user}}</span>
							<button class="btn-nav__logout btn-secondary">Logout</button>
						</div>
					</nav>
					{% else %}
					<button class="btn-nav__login btn-secondary">Login &rarr;</button>
					<button class="btn-nav__signup btn-secondary">Sign-up &rarr;</button>
					{% endif %}
				</nav>
			</header>

			<div class="content">
				<!-- ------------------------------- sidebar ------------------------------- -->
				<nav class="sidebar">
					<ul class="side-nav u-margin-top-large">
						<li class="side-nav__item">
							<a href="/class" class="side-nav__link">Worksheets</a>
						</li>
						<li class="side-nav__item">
							<a href="#" class="side-nav__link">Quiz</a>
						</li>
						<li class="side-nav__item">
							<a href="/plans" class="side-nav__link">Plans</a>
						</li>
						<li class="side-nav__item">
							<a href="/contact" class="side-nav__link">Contact-us</a>
						</li>
					</ul>
					<div class="copyright">
						<h3>Copyright &copy; A2INFINITE 2021</h3>
					</div>
				</nav>

				<main class="main">
					<section class="welcome">
						<h1 class="welcome__heading heading-primary">
							Discover A Limitless World Of Learning
						</h1>
						<p class="welcome__para">
							Join now for more than 20,000 Practice Worksheets and Quiz
						</p>
						<button class="btn-primary welcome__btn">Get Started &rarr;</button>
					</section>

					<hr class="hr u-margin-top-large" />

					<!-- ------------------------------- library ------------------------------- -->

					<section class="library">
						<h1 class="heading-secondary">Our Library</h1>

						<div class="library-container">
							<div class="library-container__box">
								<div class="library-container__box--icon-text">
									<img
										src="/static/Images/Icons/worksheet.png"
										alt="file icon"
										class="library-container__icon"
									/>
									<h3 class="heading-tertiary library-container__heading">
										Sheet
									</h3>
								</div>
								<div class="library-container__box--para-link">
									<p class="library-container__para">
										We’ve got a worksheet for every topic!
									</p>
									<a href="/class_worksheet" class="btn-tertiary"
										>Explore &rarr;</a
									>
								</div>
							</div>

							<div class="library-container__box">
								<div class="library-container__box--icon-text">
									<img
										src="/static/Images/Icons/quiz.png"
										alt="quiz icon"
										class="library-container__icon"
									/>
									<h3 class="heading-tertiary library-container__heading">
										Quiz
									</h3>
								</div>
								<div class="library-container__box--para-link">
									<p class="library-container__para">
										Check your child’s Prepration with our great quizes
									</p>
									<a href="#" class="btn-tertiary">Explore &rarr;</a>
								</div>
							</div>
						</div>
					</section>

					<hr class="hr u-margin-top-large" />

					<!-- ------------------------------ community ------------------------------ -->

					<section>
						<h2 class="heading-secondary">Join Our Community</h2>
						<div class="community">
							<div class="community__icon-heading u-margin-top-large-minus">
								<img
									src="/static/Images/Illustrations/Community-1.png "
									alt="Earth Image"
									class="community__image"
								/>
								<h3 class="heading-tertiary u-margin-top-large-minus">
									Used All Across World
								</h3>
							</div>

							<div class="community__icon-heading u-margin-top-large-minus">
								<img
									src="/static/Images/Illustrations/Community-2.png "
									alt="Elephant Image"
									class="community__image"
								/>
								<h3 class="heading-tertiary u-margin-top-large-minus">
									Library With 30,000 educational resources
								</h3>
							</div>

							<div class="community__icon-heading u-margin-top-large-minus">
								<img
									src="/static/Images/Illustrations/Community-3.png "
									alt="Building Image"
									class="community__image"
								/>
								<h3 class="heading-tertiary u-margin-top-large-minus">
									50,000 Parents, Students and Schools served
								</h3>
							</div>
						</div>
					</section>

					<hr class="hr" />

					<!-- ------------------------------- footer -------------------------------- -->
					<footer class="footer">
						<h1 class="heading-primary footer__heading">Ready To Join ?</h1>
						<button class="btn-primary footer__btn">Get Started &rarr;</button>
					</footer>
				</main>
			</div>
			<!-- ----------------------------- login form ------------------------------ -->
			{% include "signin.html" %}
			<!-- ---------------------------- Sign-up form ----------------------------- -->
			<!-- {% include "signup.html" %} -->

			<!-- ---------------------------- Sign-up form ----------------------------- -->

			<!-- ---------------------------- Sign-up form ----------------------------- -->

			<div
				class="form-container signup-form-container u-invisible"
				id="signup-form-container"
			>
				<form
					action="/signup"
					method="POST"
					class="form-overlay"
					id="add-ajax-form"
				>
					{% csrf_token %}
					<h1 class="heading-primary">We Are Glad To See You Here</h1>
					<style>
						small {
							font-size: 150% !important;
						}
						.col-form-label {
							text-align: left !important;
							font-size: 170% !important;
						}
						.form-control {
							height: calc(1.5em + 1rem + 4px) !important;
							font-size: 1.5rem !important;
						}
						.invalid-feedback {
							font-size: 150% !important;
						}
					</style>
					<div id="form-data-signup">
						<div class="form-group required_fields row">
							<label class="col-md-3 col-form-label" for="id_username"
								>Username</label
							>
							<div class="col-md-9">
								<input
									type="text"
									name="username"
									maxlength="150"
									autofocus
									class="form-control"
									title="Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only."
									required
									id="id_username"
								/>
								<small class="form-text text-muted"
									>Required. 150 characters or fewer. Letters, digits and
									@/./+/-/_ only.</small
								>
							</div>
						</div>
						<div class="form-group required_fields row">
							<label class="col-md-3 col-form-label" for="id_school_name"
								>School name</label
							>
							<div class="col-md-9">
								<input
									type="text"
									name="school_name"
									maxlength="200"
									class="form-control"
									title=""
									required
									id="id_school_name"
								/>
							</div>
						</div>
						<div class="form-group required_fields row">
							<label class="col-md-3 col-form-label" for="id_email"
								>Email address</label
							>
							<div class="col-md-9">
								<input
									type="email"
									name="email"
									maxlength="254"
									class="form-control"
									title=""
									required
									id="id_email"
								/>
							</div>
						</div>
						<div class="form-group required_fields row">
							<label class="col-md-3 col-form-label" for="id_mobile"
								>Mobile</label
							>
							<div class="col-md-9">
								<input
									type="text"
									name="mobile"
									maxlength="100"
									class="form-control"
									title=""
									required
									id="id_mobile"
								/>
							</div>
						</div>
						<div class="form-group required_fields row">
							<label class="col-md-3 col-form-label" for="id_password1"
								>Password</label
							>
							<div class="col-md-9">
								<input
									type="password"
									name="password1"
									autocomplete="new-password"
									class="form-control"
									title="Your password can’t be too similar to your other personal information.Your password must contain at least 8 characters.Your password can’t be a commonly used password.Your password can’t be entirely numeric."
									required
									id="id_password1"
								/>
								<small class="form-text text-muted"
									><ul>
										<li>
											Your password can’t be too similar to your other personal
											information.
										</li>
										<li>Your password must contain at least 8 characters.</li>
										<li>Your password can’t be a commonly used password.</li>
										<li>Your password can’t be entirely numeric.</li>
									</ul></small
								>
							</div>
						</div>
						<div class="form-group required_fields row">
							<label class="col-md-3 col-form-label" for="id_password2"
								>Password confirmation</label
							>
							<div class="col-md-9">
								<input
									type="password"
									name="password2"
									autocomplete="new-password"
									class="form-control"
									title="Enter the same password as before, for verification."
									required
									id="id_password2"
								/>
								<small class="form-text text-muted"
									>Enter the same password as before, for verification.</small
								>
							</div>
						</div>
					</div>

					<script>
						var form_options = {
							target: '#form-data-signup',
							success: function (response) {},
						};
						$('#add-ajax-form').ajaxForm(form_options);
					</script>

					<div class="form-overlay__checkbox-link">
						<div class="form-overlay__checkbox-container">
							<input type="checkbox" />
							<h3 class="form-overlay__heading">Remember Me</h3>
						</div>

						<div class="form-overlay__link-container">
							<h3 class="form-overlay__heading">Already Have Account!</h3>
							<button
								class="form-overlay__link form-overlay__link-login u-margin-top-minus"
							>
								Login &rarr;
							</button>
						</div>
					</div>
					<button type="submit" class="form-overlay__submit btn-primary">
						Sign-up &rarr;
					</button>
					<div class="form-overlay__cross cross-signup">
						<span class="form-overlay__cross-span">&#10006;</span>
					</div>
				</form>
			</div>
			<!-- --------------------------- logout warning ---------------------------- -->
			{% include "signout.html" %}
		</div>
		<!-- ------------------------------- loader -------------------------------- -->
		{% include "loader.html" %}
	</body>
</html>
