<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>LOGIN | A2INFINITE</title>

  <!-- ------------------------------- favicon ------------------------------- -->

  <link rel="icon" href="../../static/Images/favicon.png" type="image/png" />

  <!-- ----------------------------- javascript ------------------------------ -->

  <!-- loader -->
  <script src="/static/js/loader.js" defer></script>
</head>
<body class="body">
  <div class="container">
    <!-- ------------------------------- header -------------------------------- -->
    {% include "header.html" %}

    <!-- ------------------------------- nav bar ------------------------------- -->
    {% include "navbar.html" %}
    <!-- -------------------------------- main --------------------------------- -->

    <!-- ------------------------------- footer -------------------------------- -->
    {% include "footer.html" %}
  </div>
  <!-- ------------------------------- loader -------------------------------- -->
  {% include "loader.html" %}
</body>
</html>
