<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Checkout | A2INFINITE</title>

		<!-- --------------------------------- css --------------------------------- -->
		<link rel="stylesheet" href="/static/css/checkout.css" />

		<!-- ------------------------------- favicon ------------------------------- -->

		<link rel="icon" href="../../static/Images/favicon.png" type="image/png" />

		<!-- ----------------------------- javascript ------------------------------ -->
		{% if user.is_authenticated %}
		<!-- login form -->
		<script type="text/javascript" src="/static/js/logout.js" defer></script>
		{% else %}
		<!-- sign-up form -->
		<script
			type="text/javascript"
			src="/static/js/sign_in_sign_up.js"
			defer
		></script>
		{% endif %}

		<!-- loader -->
		<script src="/static/js/loader.js" defer></script>
	</head>

	<body class="body">
		<div class="container">
			<!-- ------------------------------- header -------------------------------- -->
			{% include "header.html" %}

			<!-- ------------------------------- nav bar ------------------------------- -->
			{% include "navbar.html" %}

			<!-- -------------------------------- main --------------------------------- -->

			<main class="main">
				<h1 class="heading-primary heading">
					Thank you for Trusting Us hope you will enjoy 'A2INFINITE'
				</h1>
				<!-- TODO: Change Url of Logo-->
				<form action="success" method="POST">
					<script
						src="https://checkout.razorpay.com/v1/checkout.js"
						data-key="rzp_test_Ac2g1pJT7D9c69"
						data-amount="50000"
						data-currency="INR"
						data-order_id="{{payment.id}}"
						data-buttontext="Pay Now"
						data-name="A2INFINITE"
						data-description="You are going to join A2INFINITE"
						data-image="http://127.0.0.1:8000/static/Images/logo/logo_transparent-big.png"
						data-prefill.name="pc"
						data-prefill.email="example@gmail.com"
						data-theme.color="#eb2f64"
					></script>
					<input type="hidden" custom="Hidden Element" name="hidden" />
				</form>
			</main>

			<!-- ------------------------------- footer -------------------------------- -->
			{% include "footer.html" %}
			<!-- ----------------------------- login form ------------------------------ -->
			{% include "signin.html" %}

			<!-- --------------------------- logout warning ---------------------------- -->
			{% include "signout.html" %}
		</div>
		<!-- ------------------------------- loader -------------------------------- -->
		{% include "loader.html" %}
	</body>
</html>
