{% load bootstrap4 %} {% load static %} {% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Sign Up | A2INFINITE</title>
		{# Load CSS and JavaScript #} {% bootstrap_css %}
      {% bootstrap_javascript	jquery='full' %}

		<link rel="stylesheet" href="/static/css/signup.css" />

		<!-- ------------------------------- favicon ------------------------------- -->

		<link rel="icon" href="../../static/Images/favicon.png" type="image/png" />

		<!-- ----------------------------- javascript ------------------------------ -->

		<!-- loader -->
		<script src="/static/js/loader.js" defer></script>
	</head>
	<body class="body">
		<div class="container">
			<!-- ------------------------------- header -------------------------------- -->
			{% include "header.html" %}

			<!-- ------------------------------- nav bar ------------------------------- -->
			{% include "navbar.html" %}

			<!-- -------------------------------- main --------------------------------- -->
			{# Display django.contrib.messages as Bootstrap alerts #}
         {% bootstrap_messages %}
			<h1 class="heading-primary u-margin-top">Glad To See You Here</h1>

			{# Display a form #}
			<form action="/signup" method="post" class="form">
				{% csrf_token %} {% bootstrap_form form layout='inline' %}
             {% buttons %}
				<button type="submit" class="btn btn-secondary">Submit</button>
				{% endbuttons %}
			</form>
			<!-- ------------------------------- footer -------------------------------- -->
			{% include "footer.html" %}
		</div>
		<!-- ------------------------------- loader -------------------------------- -->
		{% include "loader.html" %}
	</body>
</html>
