<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Sign Up | A2INFINITE</title>

		<link rel="stylesheet" href="/static/css/signup.css" />

		<!-- ------------------------------- favicon ------------------------------- -->

		<link rel="icon" href="../../static/Images/favicon.png" type="image/png" />

		<!-- ----------------------------- javascript ------------------------------ -->
		{% if user.is_authenticated %}
		<!-- login form -->
		<script type="text/javascript" src="/static/js/logout.js" defer></script>
		{% else %}
		<!-- sign-up form -->
		<script
			type="text/javascript"
			src="/static/js/sign_in_sign_up.js"
			defer
		></script>
		<!-- popup -->
		<!-- <script src="/static/js/popup.js" defer></script> -->
		{% endif %}

		<!-- loader -->
		<script src="/static/js/loader.js" defer></script>
	</head>
	<body class="body">
		<div class="container">
			<!-- ------------------------------- header -------------------------------- -->
			{% include "header.html" %}

			<!-- ------------------------------- nav bar ------------------------------- -->
			{% include "navbar.html" %}

			<!-- -------------------------------- main --------------------------------- -->
			<main class="main">
				<h1 class="heading-primary">Glad To See You Here</h1>
				<form action="" class="form">
					<input type="text" placeholder="Username" required />
					<input type="text" placeholder="School Name" required />
					<input type="email" placeholder="Email" required />
					<input type="number" placeholder="Mobile" required />
					<input type="text" placeholder="Country" required />
					<input type="text" placeholder="State" required />
					<input type="text" placeholder="District" required />
					<input type="text" placeholder="City" required />
					<input type="text" placeholder="Postal" required />
					<input type="password" placeholder="Password" required />
					<input type="password" placeholder="Confirm Password" required />
					<button type="submit" class="btn-secondary">Submit</button>
				</form>
			</main>
			<!-- ------------------------------- footer -------------------------------- -->
			{% include "footer.html" %}
			<!-- ----------------------------- login form ------------------------------ -->
			{% include "signin.html" %}

			<!-- --------------------------- logout warning ---------------------------- -->
			{% include "signout.html" %}
		</div>
		<!-- ------------------------------- loader -------------------------------- -->
		{% include "loader.html" %}
	</body>
</html>
