<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Subject | A2INFINITE</title>

		<!-- --------------------------------- css --------------------------------- -->
		<link rel="stylesheet" href="/static/css/SubjectViewContainer.css" />
      

		<!-- ------------------------------- favicon ------------------------------- -->
		<link rel="icon" href="../../static/Images/favicon.png" type="image/png" />

		<!-- ----------------------------- javascript ------------------------------ -->

		<!-- loader -->
		<script src="/static/js/loader.js" defer></script>

		<!-- height corrector -->
		<script src="/static/js/heightCorrecter.js" defer></script>

       <!-- Setting dropdown effect -->
		<script src="/static/js/settingDropdown.js" defer></script>

	</head>
	<body class="body">
		<div class="container">
			<!-- ------------------------------- header -------------------------------- -->
			{% include "header.html" %}

			<!-- ------------------------------- nav bar ------------------------------- -->
			{% include "navbar.html" %}

			
			  <ul class="breadcrumb">
			    <li class="breadcrumb-item"><a href={% url 'ClassView' %}>Classes</a></li>
			    <li class="breadcrumb-item">{{class_title}}</li>
			  </ul>

			<main class="main">
				<!-- ---------------------------- img container ---------------------------- -->

				<section class="img-section">
					<div class="img-container">
						<a href="#subject-section">
							<img
								src="/static/Images/Background/subject_with_text.png"
								alt="Choose Your Subject"
								class="img-container__image"
							/>
						</a>
					</div>
				</section>

				<!-- --------------------------- subject section --------------------------- -->

				<!-- TODO: Change Para-->

				<section id="subject-section" class="subject-section">
					{% for class in classdata %}
					<div class="subject-container">
						<div class="subject-container__img-hed">
							<!-- <img
								src="/static/Images/Illustrations/subject_english.png"
								alt="english logo"
								class="subject-container__img"
							/> -->
							<h3 class="heading-tertiary subject-container__heading">
								{{class.SubjectName}}
							</h3>
						</div>
						<div class="subject-container__para-link">
							<p class="subject-container__para">
								Choose the subject of your convince and get read to explore the
								world of infinite worksheets
							</p>
							<a
								href="/topic?name={{class.SubjectTitle|slice:':30'}}&subject={{class.id}}"
								class="btn-secondary subject-container__link"
							>
								Next &rarr;</a
							>
						</div>
					</div>
					{% endfor %}
				</section>
			</main>

			<!-- ------------------------------- footer -------------------------------- -->
			{% include "footer.html" %}
		</div>
		<!-- ------------------------------- loader -------------------------------- -->
		{% include "loader.html" %}
	</body>
</html>
