<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Success | A2INFINITE</title>

		<!-- --------------------------------- css --------------------------------- -->
		<link rel="stylesheet" href="/static/css/success.css" />

		<!-- ------------------------------- favicon ------------------------------- -->

		<link rel="icon" href="../../static/Images/favicon.png" type="image/png" />

		<!-- ----------------------------- javascript ------------------------------ -->

		<!-- loader -->
		<script src="/static/js/loader.js" defer></script>

		<!-- Setting dropdown effect -->
		<script src="/static/js/settingDropdown.js" defer></script>
	</head>

	<body class="body">
		<div class="container">
			<!-- ------------------------------- header -------------------------------- -->
			{% include "header.html" %}

			<!-- ------------------------------- nav bar ------------------------------- -->
			{% include "navbar.html" %}

			<!-- -------------------------------- main --------------------------------- -->
			<main class="main">
				<h1 class="heading-primary heading">
					Congrats ! You are now officially part of A2INFINITE's family
				</h1>
			</main>

			<!-- ------------------------------- footer -------------------------------- -->
			{% include "footer.html" %}
		</div>
		<!-- ------------------------------- loader -------------------------------- -->
		{% include "loader.html" %}
	</body>
</html>
