<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Topic | A2INFINITE</title>

		<!-- --------------------------------- css --------------------------------- -->
		<link rel="stylesheet" href="/static/css/TopicViewContainer.css" />

		<!-- ------------------------------- favicon ------------------------------- -->
		<link rel="icon" href="../../static/Images/favicon.png" type="image/png" />

		<!-- ----------------------------- javascript ------------------------------ -->
		{% if user.is_authenticated %}
		<script type="text/javascript" src="/static/js/logout.js" defer></script>
		{% else %}
		<script
			type="text/javascript"
			src="/static/js/sign_in_sign_up.js"
			defer
		></script>
		{% endif %}
		<script src="/static/js/loader.js" defer></script>
	</head>

	<body class="body">
		<div class="container">
			<!-- ------------------------------- header -------------------------------- -->
			{% include "header.html" %}

			<!-- ------------------------------- nav bar ------------------------------- -->
			{% include "navbar.html" %}

			<!-- ----------------------------------------------------------------------- -->
			<!--                                  main                                   -->
			<!-- ----------------------------------------------------------------------- -->

			<nav aria-label="breadcrumb">
			  <ol class="breadcrumb">
			    <li class="breadcrumb-item"><a href={% url 'ClassView' %}>All Classes</a></li>
			    <li class="breadcrumb-item"><a href={% url 'SubjectView' %}?class={{classId}}>Subjects of Class: {{class_name}}</a></li>
			    <li class="breadcrumb-item">Topics of Subject: {{subject_name}} and its Sub Topics</li>
			  </ol>
			</nav>

			<main class="main">
				<section class="section-headings">
					<h1 class="section-headings__heading heading-primary">
						{{subobj.SubjectName}}
					</h1>
					<p class="section-headings__para">
						Here is a list of all of the {{subobj.SubjectName}} topics students
						learn in {{classobj.className}}! These topics are organized into
						categories, and you can move your mouse over any topic name to open
						the topic.
					</p>
				</section>

				<!-- ------------------------------- topics -------------------------------- -->

				<section class="section-topics">
					<ul class="topicList">
						{% if topic_subscribed %} {% for topic in data %}
						<li class="topicList__items">
							<h3 class="topicList__items-heading">{{topic.TopicName}}</h3>
							<h5>You are Subscribed to this Topic</h5>
							<ol class="subtopicList">
								{% for subtopic in topic.topic.all %}
								<li class="subtopicList-item">
									<a
										class="subtopicList-item__link"
										href="/images?name={{subtopic.subtopicTitle}}&subtopic={{subtopic.id}}"
										>{{subtopic.subtopicTitle}}</a
									>
									<h5>You are Subscribed to this Sub Topic</h5>
								</li>
								{% endfor %}
							</ol>
						</li>
						{% endfor %} {% else %} {% for topic in data %} 
                  {% if	topic.freeForAll %}
						<li class="topicList__items">
							<h3 class="topicList__items-heading">{{topic.TopicName}}</h3>
							<h5>
								Not subscribed to this Topic<br />Showing only Free Content
							</h5>
							<ol class="subtopicList">
								{% for subtopic in topic.topic.all %} 
                        {% if subtopic.freeForAll %}
								<li class="subtopicList-item">
									<a
										class="subtopicList-item__link"
										href="/images?name={{subtopic.subtopicTitle}}&subtopic={{subtopic.id}}"
										>{{subtopic.subtopicTitle}}</a
									>
									<h6>
										Not subscribed to this Subtopic<br />Showing only Free
										Content
									</h6>
								</li>
								{% else %}
								<li class="subtopicList-item">
									<a
										class="subtopicList-item__link"
										href="/images?name={{subtopic.subtopicTitle}}&subtopic={{subtopic.id}}"
										>{{subtopic.subtopicTitle}}</a
									>
									<h6>
										Not subscribed to this SubTopic<br />Content only for
										Subscrided
									</h6>
								</li>
								{% endif %} {% endfor %}
							</ol>
						</li>
						{% else %}
						<li class="topicList__items">
							<h3 class="topicList__items-heading">{{topic.TopicName}}</h3>
							<h5>
								Not subscribed to this Topic<br />Content only for Subscrided
							</h5>
						</li>
						{% endif %} {% endfor %} {% endif %}
					</ul>
				</section>
			</main>

			<!-- ------------------------------- footer -------------------------------- -->
			{% include "footer.html" %}
		</div>
		<!-- ------------------------------- loader -------------------------------- -->
		{% include "loader.html" %}
	</body>
</html>
