<!-- ------------------------------- header -------------------------------- -->
{% block content %}
<header class="header u-border-bottom">
	<a href="/">
		<img
			src="/static/Images/logo/logo_transparent.png"
			alt="logo"
			class="logo"
		/>
	</a>

	<form method="POST" action="search" class="search">
		{% csrf_token %}
		<input
			type="text"
			placeholder="Search"
			class="search__input"
			name="search"
			id="search"
		/>
		<button class="search__button" type="submit">
			<svg class="search__icon">
				<use xlink:href="/static/Images/Icons/sprite.svg#icon-search"></use>
			</svg>
		</button>
	</form>

	<ul class="setting-list">
		{% if user.is_authenticated %}
		<span class="userName">{{request.user}}</span>
		{% endif %}

		<li class="setting-list__icon">
			<img
				src="/static/Images/Icons/settings.svg"
				alt=""
				class="setting-list__icon-img"
			/>
			<ul class="setting-dropdown">
				{% if user.is_authenticated %}
				<li class="setting-dropdown__item">
					<a href="/logout" class="btn-secondary setting-dropdown__btn"
						>Logout &rarr;</a
					>
				</li>

				{% else %}
				<li class="setting-dropdown__item">
					<a
						href="/login"
						class="btn-secondary setting-dropdown__btn u-margin-bottom-medium"
						>Login &rarr;</a
					>
				</li>
				<li class="setting-dropdown__item">
					<a href="/signup" class="btn-secondary setting-dropdown__btn"
						>Sign-up</a
					>
				</li>
				{% endif %}
			</ul>
		</li>
	</ul>
</header>
{% endblock content %}
