{% block content %}
<div class="form-container signup-form-container u-invisible">
	<form action="/signup" method="POST" class="form-overlay" id="add-ajax-form">
		{% csrf_token %}
		<h1 class="heading-primary">We Are Glad To See You Here</h1>
		<input
			type="text"
			placeholder="User Name"
			class="form-overlay__input"
			required
			id="id_username"
			name="username"
			maxlength="150"
		/>
		<input
			type="text"
			placeholder="School Name"
			class="form-overlay__input"
			required
			id="id_school_name"
			name="school_name"
			maxlength="200"
		/>
		<input
			type="email"
			placeholder="Email"
			class="form-overlay__input"
			required
			id="id_email"
			name="email"
			maxlength="100"
		/>
		<input
			type="number"
			name="mobile"
			id="id_mobile"
			placeholder="Mobile"
			class="form-overlay__input"
			required
		/>
		<input
			type="password"
			placeholder="Password"
			class="form-overlay__input"
			required
			id="id_password1"
			name="password1"
		/>
		<input
			type="password"
			placeholder="Confirm Password"
			class="form-overlay__input"
			required
			id="id_password2"
			name="password2"
		/>

		<div class="form-overlay__checkbox-link">
			<div class="form-overlay__checkbox-container">
				<input type="checkbox" />
				<h3 class="form-overlay__heading">Remember Me</h3>
			</div>

			<div class="form-overlay__link-container">
				<h3 class="form-overlay__heading">Already Have Account!</h3>
				<button
					class="form-overlay__link form-overlay__link-login u-margin-top-minus"
				>
					Login &rarr;
				</button>
			</div>
		</div>
		<button type="submit" class="form-overlay__submit btn-primary">
			Sign-up &rarr;
		</button>
		<div class="form-overlay__cross cross-signup">
			<span class="form-overlay__cross-span">&#10006;</span>
		</div>
	</form>
	<script>
		var form_options = {
			target: '#form-data-signup',
			success: function (response) {},
		};
		$('#add-ajax-form').ajaxForm(form_options);
	</script>
</div>

{% endblock content %}
