.sheet-list {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	padding: 0;
	align-items: center;
<<<<<<< HEAD
	justify-content: center;
=======
	justify-content: start;
>>>>>>> 728b8c2294374ca15e7ac55ff19e315de6ea69bf

	&__item {
		margin: 1rem 5rem;
		border: 2px solid var(--color-grey-light-5);

		@media screen and (max-width: 1325px) {
			margin: 1rem 2rem;
		}
	}

	&__sheet {
		height: 30rem;
		width: 30rem;
	}
}
