.schoolName-container {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.img-container {
	position: relative;
	&__img {
		height: 100%;
		width: 100%;

		&--black {
			display: none;
		}
	}

	&__watermark {
		opacity: 0.2;
		position: absolute;
		top: 35rem;
		transform: rotate(-35deg);
		font-size: 2.5rem;

		&--1 {
			left: 20rem;
		}

		&--2 {
			right: 20rem;
		}
	}
}

.btn-container {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin: 2rem 0;
}

@page {
	size: landscape;
}

@media print {
	@page {
		margin: 0;
	}
	.container {
		box-shadow: none !important;
		margin: 0rem !important;
		height: 99vh !important;
		width: 100vw;
	}

	.nav-bar {
		display: none;
	}

	.img-container {
		&__img {
			&--colored {
				height: 92.5vh !important;
				width: 100vw;
			}

			&--black {
				height: 92.5vh !important;
				width: 100vw;
			}
		}
	}

	.header {
		display: none !important;
	}

	.btn-container {
		display: none;
	}

	.footer {
		display: none;
	}

	.share-container {
		display: none;

		&__link {
			display: none;
		}
	}
}

.share-container {
	display: flex;
	justify-content: center;
	margin: 1rem 0;

	&__link {
		margin: 3px;
	}
}
