.body {
	height: 100vh;
}

.container {
	position: relative;
	height: 81%;

	@media screen and (max-width: 1229px) {
		height: 100vh !important;
	}
}

.main {
	display: flex;
	flex-direction: column;
	height: 51%;
	align-items: center;
	justify-content: center;

	@media screen and (max-width: 598px) {
		height: 64%;
	}
}

.heading {
	@media screen and (max-width: 598px) {
		font-size: 4.5rem;
	}
}

.para {
	text-align: center;
	font-size: 2.5rem;
	color: var(--color-grey-dark-1);

	@media screen and (max-width: 598px) {
		font-size: 2.8rem;
	}

	@media screen and (max-width: 444px) {
		font-size: 2.5rem;
	}
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
}
