.container {
	height: 87.3vh !important;
	position: relative;

   @media screen and (max-width: 1229px) {
      height: 100vh !important;
   }
}

.heading-primary {
	font-size: 5rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
}