.form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	input {
		display: block;
		border: none;
		width: 80%;
		margin-top: 2rem;
		background-color: var(--color-grey-light-2);
		padding: 2rem;
		font-size: 1.5rem;
		border-radius: 0.5rem;
	}
	button {
		margin: 2rem 0;
		font-size: 2rem;
	}
}
