.body {
	height: 100vh;
}

.container {
	position: relative;
	height: 80%;

	@media screen and (max-width: 1229px) {
		height: 100vh !important;
	}
}

.heading {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 3rem;
	width: 100%;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
}
