/* --------------------------------- heading -------------------------------- */

.section-headings {
	&__heading {
		color: var(--color-grey-dark-2);
		font-size: 3.5rem;
		margin-bottom: 0;
	}

	&__para {
		text-align: center;
		font-size: 1.6rem;
		margin: 1.5rem 20rem;
		color: var(--color-grey-dark-1);
	}
}

/* --------------------------------- topics --------------------------------- */
.topicList {
	list-style: none;
	display: flex;
	flex-wrap: wrap;

	&__items {
		font-size: 2.5rem;
		font-family: open-sans-light;
		font-weight: 100;
		cursor: pointer;
		margin: 0 5rem;

		&-heading {
			font-weight: 100;
			margin-left: 0.5rem;
			color: var(--color-primary-dark);
		}
	}
}

/* -------------------------------- sub topics -------------------------------- */

.subtopicList {
	font-size: 2rem;
	margin-top: -2rem;
	margin-left: -2rem;
	transition: all 0.5s;
	list-style: circle;

	&-item__link {
		text-decoration: none;
		color: var(--color-grey-dark-1);

		&:hover {
			transition: all 0.1s;
			color: var(--color-primary);
		}
	}
}
