.header {
	display: flex;
	justify-content: space-between;
	height: 9rem;
	background-color: #fff;
	// border-bottom: 1px solid var(--color-grey-light-2);
}

/* ---------------------------------- logo ---------------------------------- */

.logo {
	height: 11rem;
	width: 11rem;
}

/* --------------------------------- search --------------------------------- */

.search {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 55rem;

	&__input {
		flex: 0 0 90%;
		background-color: var(--color-grey-light-1);
		outline: none;
		border: 1px solid var(--color-grey-light-2);
		border-radius: 2rem;
		font-family: inherit;
		padding: 1rem 2rem;
		transition: all 0.1s;
		font-size: 1.5rem;

		@media screen and (max-width: 500px) {
			flex: 0 0 80%;
		}

		&::placeholder {
			font-family: inherit;
			color: var(--color-grey-dark-2);
		}

		&:focus {
			flex: 0 0 100%;
		}

		&:focus &::placeholder {
			color: var(--color-grey-dark-3);
		}
	}
	&__button {
		outline: none;
		background-color: transparent;
		border: none;
		margin-left: -5rem;
	}
	&__icon {
		height: 2rem;
		width: 2rem;
		fill: var(--color-grey-dark-3);
	}
}

.userName {
	font-size: 2rem;
	margin-right: 3rem;
}

/* ------------------------------- setting list ------------------------------- */

.setting-list {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin-right: 5rem;

	@media screen and (max-width: 500px) {
		flex-wrap: nowrap;
	}

	&__icon-img {
		height: 4rem;
		width: 4rem;
		transition: all 0.2s;
	}

	&__icon {
		position: relative;
	}

	&__icon:hover &__icon-img {
		transform: rotate(90deg);
	}
	&__icon:hover .setting-dropdown {
		visibility: visible;
		top: 3.9rem;
		opacity: 1;
	}
}

.setting-dropdown {
	visibility: hidden;
	position: absolute;
	transition: all 0.8s;
	list-style: none;
	top: 0;
	right: -4.8rem;
	opacity: 0;
	z-index: 2;

	&__item {
		transform: translate(1rem, 1rem);
		width: 14rem;

		a {
			display: inline-block;
		}
	}
}
