<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Contact-us | A2INFINITE</title>

		<!-- ------------------------------- favicon ------------------------------- -->
		<link rel="icon" href="../../static/Images/favicon.png" type="image/png" />

		<!-- --------------------------------- css --------------------------------- -->
		<link rel="stylesheet" href="/static/css/contact.css" />
	</head>

	<body class="body">
		<div class="container">
			{% if messages %} {% for message in messages %}
			<div class="alert Loged-in u-margin-top-medium-minus">
				<strong>{{ message }}</strong>
				<span>&#10006;</span>
			</div>
			{% endfor %} {% endif %} {% block body %} {% endblock body %}
			<h1 class="heading-primary heading u-margin-top-small">Contact us</h1>
			<form method="post" action="/contact" class="form u-margin-top-minus">
				{% csrf_token %}
				<input
					class="form__input"
					type="text"
					name="name"
					id="name"
					placeholder="Full Name"
				/>
				<input
					class="form__input"
					type="email"
					name="email"
					id="email"
					placeholder="Email"
				/>
				<input
					class="form__input"
					type="number"
					name="phone"
					id="phone"
					placeholder="Phone"
				/>
				<textarea
					class="form__textarea u-margin-top u-margin-bottom"
					name="desc"
					id="desc"
					cols="30"
					placeholder="Describe Your Issue"
					rows="10"
				></textarea>
				<button type="submit" class="btn-primary form__btn">Submit</button>
			</form>
		</div>
	</body>
</html>
