<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>A2INFINITE</title>
		<!-- --------------------------------- Css --------------------------------- -->
		<link rel="stylesheet" href="/static/css/index.css" />
		<script src="/static/js/index.js" defer></script>
	</head>

	<body class="body">
		<div class="container">
			<!-- ------------------------------- header -------------------------------- -->

			<header class="header u-border-bottom">
				<a href="/templates/html/index.html">
					<img
						src="/static/Images/logo/logo_transparent.png"
						alt="logo"
						class="logo"
					/>
				</a>

				<form action="#" class="search">
					<input type="text" placeholder="Search" class="search__input" />
					<button class="search__button">
						<svg class="search__icon">
							<use xlink:href="../../Images/Icons/sprite.svg#icon-search"></use>
						</svg>
					</button>
				</form>

				<!-- <nav class="user-nav">
					<div class="user-nav__user">
						<img
							src="../../Images/Ayush.jpg"
							alt="user photo"
							class="user-nav__user-photo"
						/>
						<span class="user-nav__user-name">Ayush</span>
					</div>
				</nav> -->
				<nav class="btn-nav">
					<button class="btn-nav__login btn-nav__btn">Login &rarr;</button>
					<button class="btn-nav__signup btn-nav__btn">Sign-up &rarr;</button>
				</nav>
			</header>

			<div class="content">
				<!-- ------------------------------- sidebar ------------------------------- -->

				<nav class="sidebar">
					<ul class="side-nav u-margin-top-large">
						<li class="side-nav__item">
							<a href="#" class="side-nav__link">Worksheets</a>
						</li>
						<li class="side-nav__item">
							<a href="#" class="side-nav__link">Quiz</a>
						</li>
						<li class="side-nav__item">
							<a href="#" class="side-nav__link">Plans</a>
						</li>
						<li class="side-nav__item">
							<a href="#" class="side-nav__link">Contact-us</a>
						</li>
					</ul>
					<div class="copyright">
						<h3>Copyright &copy; A2INFINITE 2021</h3>
					</div>
				</nav>

				<main class="main">
					<section class="welcome">
						<h1 class="welcome__heading heading-primary">
							Discover A Limitless World Of Learning
						</h1>
						<p class="welcome__para">
							Join now for more than 20,000 Practice Worksheets and Quiz
						</p>
						<button class="btn-primary welcome__btn">Get Started &rarr;</button>
					</section>

					<hr class="hr u-margin-top-large" />

					<!-- ------------------------------- library ------------------------------- -->

					<section class="library">
						<h1 class="heading-secondary">Our Library</h1>

						<div class="library-container">
							<div class="library-container__box">
								<div class="library-container__box--icon-text">
									<img
										src="../../Images/Icons/worksheet.png"
										alt="file icon"
										class="library-container__icon"
									/>
									<h3 class="heading-tertiary library-container__heading">
										Sheet
									</h3>
								</div>
								<div class="library-container__box--para-link">
									<p class="library-container__para">
										We’ve got a worksheet for every topic!
									</p>
									<a href="#" class="library-container__link">Explore &rarr;</a>
								</div>
							</div>

							<div class="library-container__box">
								<div class="library-container__box--icon-text">
									<img
										src="../../Images/Icons/quiz.png"
										alt="quiz icon"
										class="library-container__icon"
									/>
									<h3 class="heading-tertiary library-container__heading">
										Quiz
									</h3>
								</div>
								<div class="library-container__box--para-link">
									<p class="library-container__para">
										Check your child’s Prepration with our great quizes
									</p>
									<a href="#" class="library-container__link">Explore &rarr;</a>
								</div>
							</div>
						</div>
					</section>

					<hr class="hr u-margin-top-large" />

					<!-- ------------------------------ community ------------------------------ -->

					<section>
						<h2 class="heading-secondary">Join Our Community</h2>
						<div class="community">
							<div class="icon-heading u-margin-top-large-minus">
								<img
									src="../../Images/Illustrations/Community-1.png "
									alt="Earth Image"
									class="community__image"
								/>
								<h3 class="heading-tertiary u-margin-top-large-minus">
									Used All Across World
								</h3>
							</div>

							<div class="icon-heading u-margin-top-large-minus">
								<img
									src="../../Images/Illustrations/Community-2.png "
									alt="Elephant Image"
									class="community__image"
								/>
								<h3 class="heading-tertiary u-margin-top-large-minus">
									Library With 30,000 educational resources
								</h3>
							</div>

							<div class="icon-heading u-margin-top-large-minus">
								<img
									src="../../Images/Illustrations/Community-3.png "
									alt="Building Image"
									class="community__image"
								/>
								<h3 class="heading-tertiary u-margin-top-large-minus">
									50,000 Parents, Students and Schools served
								</h3>
							</div>
						</div>
					</section>

					<hr class="hr" />

					<!-- ------------------------------- footer -------------------------------- -->
					<footer class="footer">
						<h1 class="heading-primary footer__heading">Ready To Join ?</h1>
						<button class="btn-primary footer__btn">Get Started &rarr;</button>
					</footer>
				</main>
			</div>

			<!-- ----------------------------- login form ------------------------------ -->

			<div class="form-container login-form-container u-invisible">
				<form action="#" class="form-overlay">
					<h1 class="heading-primary">Welcome Back</h1>
					<input
						type="text"
						placeholder="User Name/Email"
						class="form-overlay__input"
						required
					/>
					<input
						type="password"
						placeholder="Password"
						class="form-overlay__input"
						required
					/>
					<div class="form-overlay__checkbox-link">
						<div class="form-overlay__checkbox-container">
							<input type="checkbox" />
							<h3 class="form-overlay__heading">Remember Me</h3>
						</div>

						<div class="form-overlay__link-container">
							<h3 class="form-overlay__heading">Don't Have Account!</h3>
							<button
								class="form-overlay__link form-overlay__link-signup u-margin-top-minus"
							>
								Sign-up &rarr;
							</button>
						</div>
					</div>
					<button type="submit" class="login-form__submit btn-primary">
						Log In &rarr;
					</button>
					<div class="form-overlay__cross cross-login">
						<span class="form-overlay__cross-span">&#10006;</span>
					</div>
				</form>
			</div>

			<!-- ---------------------------- Sign-up form ----------------------------- -->

			<div class="form-container signup-form-container u-invisible">
				<form action="#" class="form-overlay">
					<h1 class="heading-primary">We Are Glad To See You Here</h1>
					<input
						type="text"
						placeholder="User Name"
						class="form-overlay__input"
						required
					/>
					<input
						type="text"
						placeholder="School Name"
						class="form-overlay__input"
						required
					/>
					<input
						type="email"
						placeholder="Email"
						class="form-overlay__input"
						required
					/>
					<input
						type="password"
						placeholder="Password"
						class="form-overlay__input"
						required
					/>
					<input
						type="password"
						placeholder="Confirm Password"
						class="form-overlay__input"
						required
					/>
					<div class="form-overlay__checkbox-link">
						<div class="form-overlay__checkbox-container">
							<input type="checkbox" />
							<h3 class="form-overlay__heading">Remember Me</h3>
						</div>

						<div class="form-overlay__link-container">
							<h3 class="form-overlay__heading">Already Have Account!</h3>
							<button
								class="form-overlay__link form-overlay__link-login u-margin-top-minus"
							>
								Login &rarr;
							</button>
						</div>
					</div>
					<button type="submit" class="form-overlay__submit btn-primary">
						Sign-up &rarr;
					</button>
					<div class="form-overlay__cross cross-signup">
						<span class="form-overlay__cross-span">&#10006;</span>
					</div>
				</form>
			</div>
		</div>
	</body>
</html>
