<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Topic | A2INFINITE</title>

		<!-- --------------------------------- css --------------------------------- -->
		<link
			rel="stylesheet"
			href="/static/css/topic_class_lkg_english_worksheet.css"
		/>

		<!-- ------------------------------- favicon ------------------------------- -->
		<link rel="icon" href="../../static/Images/favicon.png" type="image/png" />

		<!-- ----------------------------- javascript ------------------------------ -->
		{% if user.is_authenticated %}
		<script type="text/javascript" src="/static/js/logout.js" defer></script>
		{% else %}
		<script
			type="text/javascript"
			src="/static/js/sign_in_sign_up.js"
			defer
		></script>
		{% endif %}
	</head>
	<body class="body">
		<div class="container">
			<!-- ------------------------------- header -------------------------------- -->
			{% if messages %} {% for message in messages %}
			<div class="alert alert-{{message}}">
				<strong>{{message}}</strong>
				<span class="alert__cross">&#10006;</span>
			</div>
			{% endfor %} {% endif %}
			<header class="header u-border-bottom">
				<a href="/">
					<img
						src="/static/Images/logo/logo_transparent.png"
						alt="logo"
						class="logo"
					/>
				</a>

				<form action="#" class="search">
					<input type="text" placeholder="Search" class="search__input" />
					<button class="search__button">
						<svg class="search__icon">
							<use
								xlink:href="/static/Images/Icons/sprite.svg#icon-search"
							></use>
						</svg>
					</button>
				</form>

				<nav class="btn-nav">
					{% if user.is_authenticated %}
					<nav class="user-nav">
						<div class="user-nav__user">
							<span class="user-nav__user-name">{{request.user}}</span>
							<button class="btn-nav__logout btn-secondary">Logout</button>
						</div>
					</nav>
					{% else %}
					<button class="btn-nav__login btn-secondary">Login &rarr;</button>
					<button class="btn-nav__signup btn-secondary">Sign-up &rarr;</button>
					{% endif %}
				</nav>
			</header>

			<!-- ------------------------------- nav bar ------------------------------- -->

			<nav class="nav-bar">
				<ul class="list">
					<li class="list__item">
						<a href="#" class="list__link">Quiz</a>
					</li>
					<li class="list__item">
						<a href="#" class="list__link">Plans</a>
					</li>
					<li class="list__item">
						<a href="/contact" class="list__link">Contact us</a>
					</li>
				</ul>
			</nav>

			<!-- -------------------------------- main --------------------------------- -->
			<main class="main">
				<section class="section-headings">
					<h1 class="section-headings__heading heading-primary">
						L.K.G English
					</h1>
					<p class="section-headings__para">
						Here is a list of all of the maths topics students learn in L.K.G!
						These topics are organized into categories, and you can move your
						mouse over any topic name to open the topic.
					</p>
				</section>

				<section class="section-topics">
					<ul class="section-topics__list">
						<li class="section-topics__list-items">
							<img
								class="section-topics__list-items__icon"
								src="/static/Images/Icons/list arrow icon.png"
								alt="list-icon"
							/>
							<h3 class="section-topics__list-items__heading">Alphabets</h3>
						</li>

						<li class="section-topics__list-items">
							<img
								class="section-topics__list-items__icon"
								src="/static/Images/Icons/list arrow icon.png"
								alt="list-icon"
							/>
							<h3 class="section-topics__list-items__heading">Sounds</h3>
						</li>
					</ul>
				</section>
			</main>

			<!-- ------------------------------- footer -------------------------------- -->

			<footer class="footer">
				<h3 class="heading-tertiary footer__heading">
					Copyright &copy; A2INFINITE
				</h3>
			</footer>
			<!-- ----------------------------------------------------------------------- -->
			<!-- ------------------------------ overlays ------------------------------- -->
			<!-- ----------------------------------------------------------------------- -->

			<!-- ----------------------------- login form ------------------------------ -->

			<div class="form-container login-form-container u-invisible">
				<form action="/login" method="POST" class="form-overlay">
					{% csrf_token %}

					<h1 class="heading-primary">Welcome Back</h1>
					<input
						type="text"
						placeholder="User Name"
						class="form-overlay__input"
						required
						id="loginusername"
						name="loginusername"
					/>
					<input
						type="password"
						placeholder="Password"
						class="form-overlay__input"
						required
						id="loginpassword"
						name="loginpassword"
					/>
					<div class="form-overlay__checkbox-link">
						<div class="form-overlay__checkbox-container">
							<input type="checkbox" />
							<h3 class="form-overlay__heading">Remember Me</h3>
						</div>

						<div class="form-overlay__link-container">
							<h3 class="form-overlay__heading">Don't Have Account!</h3>
							<button
								class="form-overlay__link form-overlay__link-signup u-margin-top-minus"
							>
								Sign-up &rarr;
							</button>
						</div>
					</div>
					<button type="submit" class="login-form__submit btn-primary">
						Log In &rarr;
					</button>
					<div class="form-overlay__cross cross-login">
						<span class="form-overlay__cross-span">&#10006;</span>
					</div>
				</form>
			</div>

			<!-- ---------------------------- Sign-up form ----------------------------- -->

			<div class="form-container signup-form-container u-invisible">
				<form action="/signup" method="POST" class="form-overlay">
					{% csrf_token %}
					<h1 class="heading-primary">We Are Glad To See You Here</h1>
					<input
						type="text"
						placeholder="User Name"
						class="form-overlay__input"
						required
						id="username"
						name="username"
					/>
					<input
						type="text"
						placeholder="School Name"
						class="form-overlay__input"
						required
						id="school"
						name="school"
					/>
					<input
						type="email"
						placeholder="Email"
						class="form-overlay__input"
						required
						id="email"
						name="email"
					/>
					<input
						type="number"
						name="phone"
						id="phone"
						placeholder="Mobile"
						class="form-overlay__input"
						required
					/>
					<input
						type="password"
						placeholder="Password"
						class="form-overlay__input"
						required
						id="pass1"
						name="pass1"
					/>
					<input
						type="password"
						placeholder="Confirm Password"
						class="form-overlay__input"
						required
						id="pass2"
						name="pass2"
					/>
					<div class="form-overlay__checkbox-link">
						<div class="form-overlay__checkbox-container">
							<input type="checkbox" />
							<h3 class="form-overlay__heading">Remember Me</h3>
						</div>

						<div class="form-overlay__link-container">
							<h3 class="form-overlay__heading">Already Have Account!</h3>
							<button
								class="form-overlay__link form-overlay__link-login u-margin-top-minus"
							>
								Login &rarr;
							</button>
						</div>
					</div>
					<button type="submit" class="form-overlay__submit btn-primary">
						Sign-up &rarr;
					</button>
					<div class="form-overlay__cross cross-signup">
						<span class="form-overlay__cross-span">&#10006;</span>
					</div>
				</form>
			</div>

			<!-- --------------------------- logout warning ---------------------------- -->
			<div class="form-container logout-form-container u-invisible">
				<div class="form-overlay">
					<h1 class="heading-primary u-margin-top-minus">
						Are You Sure To Logout ?
					</h1>
					<a href="/logout" class="btn-secondary">Yes</a>
					<button class="logout-no btn-secondary">No</button>
				</div>
			</div>
		</div>
	</body>
</html>
