:root,
:root::before,
:root::after {
  --color-primary: #eb2f64;
  --color-primary-light: #ff3366;
  --color-primary-dark: #ba265d;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #f4f2f2;
  --color-grey-light-5: #dedcdc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --box-shadow-1: 0 2rem 8rem 1rem rgba(0, 0, 0, 0.4); }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

@font-face {
  font-family: lato;
  src: url(/static/Fonts/Lato/Lato-Black.ttf); }

@font-face {
  font-family: open-sans;
  src: url(/static/Fonts/Open_Sans/OpenSans-Regular.ttf); }

@font-face {
  font-family: open-sans-light;
  src: url(/static/Fonts/Open_Sans/OpenSans-Light.ttf); }

@font-face {
  font-family: open-sans-bold;
  src: url(/static/Fonts/Open_Sans/OpenSans-Bold.ttf); }

.body {
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  background-repeat: no-repeat;
  font-family: open-sans, lato;
  position: relative; }

.container {
  background-color: #fff;
  margin: 6rem;
  box-shadow: var(--box-shadow-1); }

.hr {
  height: 1px;
  border: none;
  background-color: var(--color-grey-light-5); }

.heading-primary {
  font-size: 3rem;
  font-family: open-sans-light;
  text-align: center; }

.heading-secondary {
  font-size: 4rem;
  font-family: open-sans-light;
  text-align: center;
  font-weight: 200; }

.heading-tertiary {
  font-size: 1.5rem;
  text-align: center; }

.u-margin-top-large {
  margin-top: 3.5rem; }

.u-margin-top {
  margin-top: 2rem; }

.u-margin-top-small {
  margin-top: 1rem; }

.u-margin-top-large-minus {
  margin-top: -5rem; }

.u-margin-top-medium-minus {
  margin-top: -2rem; }

.u-margin-top-minus {
  margin-top: -1rem; }

.u-margin-bottom {
  margin-bottom: 1rem; }

.u-border-bottom {
  border-bottom: 1px solid var(--color-grey-light-2); }

.u-invisible {
  display: none !important;
  transition: all 2s; }

.form-container {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(0.5rem);
  z-index: 100;
  transition: all 0.2s; }

.form-overlay {
  background-color: var(--color-grey-light-3);
  padding: 2rem 2rem;
  width: 70rem;
  border-radius: 1rem;
  text-align: center;
  position: relative; }
  .form-overlay__input {
    display: block;
    width: 90%;
    outline: none;
    border: none;
    background-color: var(--color-grey-light-5);
    margin: 1rem 0;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    font-size: 1.5rem; }
  .form-overlay__checkbox-link {
    display: flex;
    justify-content: space-between; }
  .form-overlay__checkbox-container {
    display: flex;
    align-items: center; }
  .form-overlay__link-container {
    display: flex;
    align-items: center;
    flex-direction: column; }
  .form-overlay__link {
    border: none;
    outline: none;
    text-decoration: underline;
    cursor: pointer; }
    .form-overlay__link:hover {
      color: var(--color-primary); }
  .form-overlay__cross {
    position: absolute;
    top: 1rem;
    right: 2rem; }
  .form-overlay__cross-span {
    font-size: 2rem;
    cursor: pointer; }

.btn-primary,
.btn-primary:link,
.btn-primary:visited {
  border-radius: 1rem;
  border: none;
  outline: none;
  font-size: 2rem;
  padding: 1.5rem 4rem;
  background-image: linear-gradient(to right bottom, var(--color-grey-light-1), var(--color-grey-light-5));
  transition: all 0.1s;
  cursor: pointer; }
  .btn-primary:hover,
  .btn-primary:link:hover,
  .btn-primary:visited:hover {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    transform: translateY(-0.3rem); }
  .btn-primary:active,
  .btn-primary:link:active,
  .btn-primary:visited:active {
    transform: translateY(-0.1rem); }

.btn-secondary,
.btn-secondary:active,
.btn-secondary:visited,
.btn-secondary:link {
  outline: none;
  border: none;
  margin: 0 1rem;
  padding: 1rem 3rem;
  border-radius: 0.5rem;
  background-color: rgba(255, 204, 102, 0.95);
  transition: all 0.1s;
  color: var(--color-grey-dark-1);
  cursor: pointer;
  font-size: 1.25rem; }
  .btn-secondary:hover,
  .btn-secondary:active:hover,
  .btn-secondary:visited:hover,
  .btn-secondary:link:hover {
    color: var(--color-primary-light); }

.btn-tertiary,
.btn-tertiary:active,
.btn-tertiary:link,
.btn-tertiary:visited {
  font-size: 1.5rem;
  color: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center; }
  .btn-tertiary:hover,
  .btn-tertiary:active:hover,
  .btn-tertiary:link:hover,
  .btn-tertiary:visited:hover {
    color: #000; }

.header {
  display: flex;
  justify-content: space-between;
  height: 9rem;
  background-color: #fff; }

/* ---------------------------------- logo ---------------------------------- */
.logo {
  height: 11rem;
  width: 11rem; }

/* --------------------------------- search --------------------------------- */
.search {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55rem; }
  .search__input {
    flex: 0 0 90%;
    background-color: var(--color-grey-light-1);
    outline: none;
    border: 1px solid var(--color-grey-light-2);
    border-radius: 2rem;
    font-family: inherit;
    padding: 1rem 2rem;
    transition: all 0.1s;
    font-size: 1.5rem; }
    .search__input::placeholder {
      font-family: inherit;
      color: var(--color-grey-dark-2); }
    .search__input:focus {
      flex: 0 0 100%; }
    .search__input:focus .search__input::placeholder {
      color: var(--color-grey-dark-3); }
  .search__button {
    outline: none;
    background-color: transparent;
    border: none;
    margin-left: -5rem; }
  .search__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-3); }

/* -------------------------------- user-nav -------------------------------- */
.user-nav {
  display: flex;
  align-items: center;
  justify-content: center; }
  .user-nav__user {
    display: flex;
    justify-content: center;
    align-items: center; }
    .user-nav__user > * {
      cursor: pointer; }
  .user-nav__user-photo {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    margin-right: 1rem; }
  .user-nav__user-name {
    font-size: 1.5rem;
    color: var(--color-grey-dark-2);
    margin-right: 1rem; }
    .user-nav__user-name:hover {
      text-decoration: underline; }

/* ------------------------------- button Nav ------------------------------- */
.btn-nav {
  display: flex;
  align-items: center;
  justify-content: center; }

/* --------------------------------- navbar --------------------------------- */
.nav-bar {
  display: flex;
  background-color: var(--color-grey-dark-1); }

.list {
  display: flex;
  list-style: none;
  justify-content: space-between;
  width: 100%;
  padding: 0 6rem; }
  .list__link {
    text-decoration: none;
    color: #fff;
    font-size: 2.7rem; }
    .list__link:hover {
      color: var(--color-primary);
      border-bottom: 1px solid var(--color-primary); }
