.u-margin-top-large {
	margin-top: 3.5rem;
}

.u-margin-top {
	margin-top: 2rem;
}

.u-margin-top-small {
	margin-top: 1rem;
}

.u-margin-top-large-minus {
	margin-top: -5rem;
}

.u-margin-top-medium-minus {
	margin-top: -2rem;
}

.u-margin-top-minus {
	margin-top: -1rem;
}

.u-margin-bottom {
	margin-bottom: 1rem;
}

.u-border-bottom {
	border-bottom: 1px solid var(--color-grey-light-2);
}

.u-margin-left-large {
	margin-left: 18rem;
}

.u-invisible {
	display: none !important;
	transition: all 2s;
}

.u-rotate-90 {
	transform: rotate(90deg);
}