<!DOCTYPE html>
<html>
  
<head>
    <!-- <style>
        .images {
            display: flex;
            flex-wrap: wrap;
            margin: 0 50px;
            padding: 30px;
        }
  
        .photo {
            max-width: 31.333%;
            padding: 0 10px;
            height: 240px;
        }
  
        .photo img {
            width: 100%;
            height: 100%;
        }
    </style> -->
</head>
  
<body>
    {% for image in explaindata %}
    <div class="images">
        <div class="photo">
            <a href="{% url 'image' image.pk %}" target="_blank">
            <img src="{{image.imgColor.url}}" width="300" height="300" alt="photo"> </a>
        </div>
    </div>
    {% endfor %}
</body>
  
</html>