.form-container {
	height: 100vh;
	width: 100vw;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(#000, 0.6);
	backdrop-filter: blur(0.5rem);
	z-index: 100;
}

.form-overlay {
	background-color: var(--color-grey-light-3);
	padding: 2rem 2rem;
	width: 70rem;
	border-radius: 1rem;
	text-align: center;
	position: relative;

	&__input {
		display: block;
		width: 90%;
		outline: none;
		border: none;
		background-color: var(--color-grey-light-5);
		margin: 1rem 0;
		padding: 1rem 2rem;
		border-radius: 0.5rem;
		font-size: 1.5rem;
	}

	&__checkbox-link {
		display: flex;
		justify-content: space-between;
	}

	&__checkbox-container {
		display: flex;
		align-items: center;
	}

	&__link-container {
		display: flex;
		align-items: center;
		flex-direction: column;
	}

	&__link {
		border: none;
		outline: none;
		text-decoration: underline;
		cursor: pointer;

		&:hover {
			color: var(--color-primary);
		}
	}

	&__cross {
		position: absolute;
		top: 1rem;
		right: 2rem;
	}

	&__cross-span {
		font-size: 2rem;
		cursor: pointer;
	}
}
